{% extends "base.html" %}
{% block content %}
<h1 class="h4 mb-3">檢核總覽</h1>
<div class="row g-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="h6">通識</h2>
        <p class="display-6 mb-0">{{ ge_passed }} / {{ ge_total }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="h6">體育</h2>
        <p class="display-6 mb-0">{{ pe_passed }} / {{ pe_total }}</p>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <a class="btn btn-outline-primary" href="/details">查看明細</a>
</div>
{% endblock %}
